.home{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    

    &__text-wrapper{
        display: flex;
        justify-content: center;
        

        h1{
            color: var(--yellow-theme-main-color);
            margin: 0px;
            font-weight: 500;
            font-size: 8rem;
            line-height: 10rem;
            position: relative;
            overflow: hidden;
            white-space: nowrap;
            animation: typingEffectAnimation 2.5s steps(30, end);
        }
    }
    &__contact-me{
        display: grid;
        justify-content: center;
        margin-top: 15px;
        button{
            cursor: pointer;
            font-size: 2rem;
            background: transparent;
            color: var(--yellow-theme-main-color);
            border: 1.5px solid var(--yellow-theme-main-color);
            border-radius: 4px;
            font-weight: 500;
            padding: 10px 70px;

            &:hover{
                background: var(--yellow-theme-main-color);
                color: #000000;
                
            }
        }
    }
    &__social-icons {
        position: relative;
        bottom: -50px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    
    a {
        margin: 0 10px;
        font-size: 2rem;
        color: #d31212; 

    &:hover{
        color: #000000;
        background: var(--yellow-theme-main-color);
    }
}
} 
}

@media only screen and (max-width: 550px) {
    .home__text-wrapper h1{
        font-size: 2rem;
        line-height: 4rem;
    }
}
@media only screen and (max-width: 551px) and (max-width: 768px){
    .home__text-wrapper h1{
        font-size: 3rem;
        line-height: 4rem;
    }
}
@media only screen and (max-width: 769px) and (max-width: 990px) {
    .home__text-wrapper h1{
        font-size: 3rem;
        line-height: 5rem;
    }
}

@keyframes typingEffectAnimation{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}