.contact{
    &__content{
        padding: 20px;

        &__header-text{
            color: var( --yellow-theme-sub-text-color);
            display: inline-block;
            font-size: 22px;
            font-weight: 600;
            line-height: 1em;
            letter-spacing: 0.5px;
            position: relative;
            text-transform: uppercase;
            padding: 5px 10px;
            border-bottom: 2px solid var(--yellow-theme-main-color);
        }
        &__header-text::before,
        &__header-text::after {
            position: absolute;
            content: '';
            width: 2px;
            height: 5px;
            background-color: var(--yellow-theme-main-color);
            bottom: -1px;
        }
        &__header-text::before{
            left: 0;
        }
        &__header-text::after{
            right: 0;
        }
        &__form{
            margin: 30px;
            &__controlwrapper{
                display: grid;
                grid-template-columns: repeat(2,1fr);
                gap: 40px;
                margin-bottom: 30px;
                div{
                    position: relative;
                    .inputName,
                    .inputEmail,
                    .inputDescription{
                        width: 100%;
                        border: 2px solid var(--yellow-theme-main-color);
                        padding: 16px 12px;
                        transition: all 0.5s ease;
                        position: relative;
                        background-color: transparent;
                        color: var(--yellow-theme-sub-text-color);
                    }
                    .nameLabel,
                    .emailLabel,
                    .descriptionLabel{
                        font-weight: 500;
                        position: absolute;
                        top: 7px;
                        left: 12px;
                        transform: all 0.2s ease;
                        color: var(--yellow-theme-sub-text-color);
                        font-size: 16px;
                    }
                    .inputName:focus,
                    .inputEmail:focus,
                    .inputDescription:focus{
                        outline: none;
                    }
                    .inputName:focus + .nameLabel,
                    .inputName:valid + .nameLabel,
                    .inputEmail:focus + .emailLabel,
                    .inputEmail:valid + .emailLabel,
                    .inputDescription:focus + .descriptionLabel,
                    .inputDescription:valid + .descriptionLabel
                    {
                        font-size: 18px;
                        top: -25px;
                        left: 0px;
                    }
                 
                }
            }
            button{
                cursor: pointer;
                padding: 10px  70px;
                font-size: 2rem;
                background: transparent;
                color: var(--yellow-theme-main-color) ;
                border: 1.5px solid var(--yellow-theme-main-color);
                border-radius: 4px;
                font-weight: 500;
                &:hover{
                    color: #000;
                    background: var(--yellow-theme-main-color);
                }
            } 
        }
    }
}
.popup {
    position: absolute;
    align-content: center;
    justify-content: center;
    top: 0;
    height: 200px;
    width: 400px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-bottom: 4px solid greenyellow;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 999;
    text-align: center;
  
    p {
      margin-bottom: 10px;
      font-size: 40px;
    }
  
    button {
      padding: 8px 16px;
      background-color: #007bff;
      color: #fff;
      border: none;
      cursor: pointer;
    }
  }
  
  

@media only screen and (max-width: 768px){
    .contact__content__form{
        text-align: center;

        &__controlwrapper{
            grid-template-columns: repeat(1,1fr);
        }
    }
    .popup{
        position: absolute;
        align-content: center;
        justify-content: center;
        margin-top: 79px;
        top: 0;
        height: 90px;
        width: 320px;
        background-color: #fff;
        padding: 10px;
        border: 1px solid #ed0b0b;
        border-bottom: 4px solid greenyellow;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        z-index: 999;
        text-align: center;
        p{
            margin-bottom: 5px;
            font-size: 20px;
        }
        button {
            padding: 5px 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            cursor: pointer;
          }
    }
}